#projects {
    display: flex;
    padding: 72px 120px 144px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    align-self: stretch;
}

#projects > header {
    display: flex;
    width: 1040px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

#projects > header > .subtitle {
    color: var(--red, #e3646e);
    margin: auto;
}

#projects > header > .title-md {
    color: var(--gray-600, #e2e4e9);
    margin: auto;
}

#projects > .grid {
    display: flex;
    width: 1040px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.projectCard {
    display: flex;
    width: 330px;
    height: 280px;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--gray-300, #292c34);
    border: 1.5px solid transparent;
    text-decoration: none;
}

.projectCard:hover {
    border: 1.5px solid var(--gray-400, #878ea1);
}

.projectCard > img {
    width: 306px;
    height: 156px;
    flex-shrink: 0;
    border-radius: 8px;
}

.projectCard > .text {
    display: flex;
    padding: 4px;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
}

.projectCard > .text > .title-sm {
    color: var(--gray-600, #e2e4e9);
}

.projectCard > .text > .text-sm {
    color: var(--gray-500, #c0c4ce);
}
